<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sufian.livelocal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rounded_corners"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashScreen"
            android:label="LiveLocal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="LiveLocal"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_events" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider926592274061085"
            android:exported="true"
            android:label="LiveLocal" />

        <activity
            android:name=".SeasonsTop10"
            android:label="@string/title_activity_seasons_top10"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".EventDetailActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="false"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TrackStatsActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".QuestionOptionsActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".TrackingCalculatorActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".TrailsActivity"
            android:label="@string/title_activity_trails"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".EstablishmentsListActivity"
            android:label="@string/title_activity_establishments_list"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".EstablishmentActivity"
            android:label="@string/title_activity_establishment"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".WebLinksView"
            android:label="@string/title_activity_web_links_view"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>
